
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4" >
            <div class="card">
                <div class="card-header text-center">
                    <h6>Template driven form</h6>
                </div>
                <div class="card-body">
                    <form #newForm="ngForm" (ngSubmit)="save()">
                   
                        <div class="form-group mb-3">
                            <label for="name">Enter Name</label>
                            <input type="text" #name="ngModel" ngModel name="name" [(ngModel)]="formObj.name" required minlength="3" placeholder="enter name" class="form-control">
                        </div>
                        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                            <div *ngIf="name.errors && name.errors['required']">
                                Name is required.
                            </div>
                            <div *ngIf="name.errors && name.errors['minlength']">
                                Minimun length is 3 required.
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="age">Enter Age</label>
                            <input type="number" #age="ngModel" ngModel name="age"[(ngModel)]="formObj.age" required min="10" max="40" placeholder="enter age" class="form-control">
                        </div>
                        <div class="alert alert-danger" *ngIf="age.touched && age.invalid">
                            <div *ngIf="age.errors && age.errors['required']">
                                age is required.
                            </div>
                            <div *ngIf="age.errors && age.errors['min']">
                                Minimun length 3 is required.
                            </div>
                            <div *ngIf="age.errors && age.errors['max']">
                                Maximum length 10 is required.
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Enter Email</label>
                            <input type="text" #email="ngModel" ngModel name="email"  pattern="[A-Za-z0-9\._%+\-]+@[A-Za-z0-9\.\-]+\.[A-Za-z]{2,}" [(ngModel)]="formObj.email" required email placeholder="enter email" class="form-control">
                        </div>
                        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                            <div *ngIf="email.errors && email.errors['required']">
                                email is required.
                            </div>
                            <div *ngIf="email.errors && email.errors['pattern']">
                                Invalid email.
                            </div>
                        </div>
                        <!-- <br> -->
                        <div class="form-group mb-3">
                        <label for="">Gender</label>
                        <div class="form-check">
                            <label for="male">Male</label>
                            <input type="radio" class="form-check-input" #gender="ngModel" ngModel value="male" name="gender" [(ngModel)]="formObj.gender" required placeholder="enter gender">
                        </div>
                        <div class="form-check">
                            <label for="male">Female</label>
                            <input type="radio" class="form-check-input" #gender="ngModel" ngModel value="female"  name="gender" [(ngModel)]="formObj.gender" required placeholder="enter gender">
                        </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="">Country</label>
                            <select name="country" #country="ngModel" [class.is-invalid]="country.touched && country.invalid" ngModel required [(ngModel)]="formObj.country" placeholder="enter country"  class="form-control">
                                <option value="" >Select</option>
                                <option value="USA" selected>USA</option>
                                <option value="berlin">Berlin</option>
                                <option value="India">India</option>
                            </select>
                        </div>
                        <div class="alert alert-danger" *ngIf="country.touched && country.invalid">
                            <div *ngIf="country.errors && country.errors['required']">
                                country is required.
                            </div>
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" name="accept" class="form-check-input" #accept="ngModel" ngModel required [(ngModel)]="formObj.accept" placeholder="Enter terms and conditions">
                            <label for="">Iaccept terms and conditions</label>
                        </div>
                        <div class="d-grid mb-3 text-center" >
                                <button class="btn btn-primary" [class.disabled]="newForm.form.invalid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>