<p>pipe works!</p>

<!-- lowercase pipe, uppercase pipe, json pipe, titlecasepipe, slicepipe, datepipe, currencypipe, percent pipe, decimalpipe -->

<!-- <p>{{ ChannelName | json}}</p>

<p>{{ ChannelName1 | custom}}</p>

<p>{{ obj | json}}</p>

<p>{{ myDate | date: 'short' }}</p>
<p>{{ myDate | date: 'medium' }}</p>
<p>{{ myDate | date: 'long' }}</p>
<p>{{ myDate | date: 'full' }}</p>
<p>{{ myDate | date: 'shortDate' }}</p>
<p>{{ myDate | date: 'mediumDate' }}</p>
<p>{{ myDate | date: 'longDate' }}</p>
<p>{{ myDate | date: 'fullDate' }}</p> -->

<p>{{ data | custom:3:2}}</p>